body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url("walpaper.jpg");
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to fill the viewport */
}

header {
    
    background-color: #000;
    color: #fff;
    padding: 10px 1px;
}

nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

nav ul li {
    font-size: larger;
    display: inline;
    margin-right: 10px;
}

nav ul li a {
   
    color: #fff;
    text-decoration: none;
}

.welcome-section {
    flex: 1; /* Fill remaining space */
    text-align: center;
    padding: 100px 20px;
}

.welcome-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #444;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Push footer to the bottom */
}
